.moviesList {
  border-left: 3px solid #fff;
}

.moviesItem {
  margin: 7px 0;
  list-style-type: square;
}

.moviesLink {
  color: #fff;
  text-decoration: none;
}

.moviesLink:hover,
:focus {
  color: blue;
}
